.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 10px;
  }
  
  .icon-content {
    font-weight: bold;
    font-family: 'Young-Serif';
    display: flex;
    align-items: center;
    font-size: 1rem; 
  }
  
  .nav_name {
    margin-right: 10px;
  }
  
  .navbar__icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    transition: transform 0.3s ease-out;
  }
  
  .navbar__icon:hover {
    transform: scale(1.1);
  }
  
.icon {
    display: inline;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.icon-content {
    font-weight: bold;
    font-family: 'Young-Serif';
    display: flex;
    align-items: center;
    font-size: auto;
}

.navbar__icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

@media (max-width: 470px) {
    .icon-container {
        justify-content: flex-start; /* Adjust alignment for smaller screens */
    }

    .navbar__icon {
        height: 40px; /* Decrease icon size for smaller screens */
        width: 40px;
    }
    
    .nav_name {
        display: none; /* Hide nav_name for screens <= 470px */
    }
}
