
.card_container {
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    background-color: rgba(250, 235, 215, 0.822);
    border-radius: 10px;
    border: 2px solid black;
    animation: bounce 1.8s infinite;
    color: black;
  }
  
  .card_container:hover {
    animation: none;
    transition: all 3s ease-in-out;
    transform: scale(1.03) ;
    background-image: linear-gradient(transparent,rgb(130, 122, 122));
  }
  
  .card_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card_image {
    width: 100%;
    height: auto;
    max-height: 50%; 
    padding: 20px;
    box-sizing: border-box;
    object-fit: cover; 
    border-radius: 10px; 
  }
  
  
  
  .card_text {
    text-decoration: none;
    padding: 20px;
    text-align: center;
  }
  
  .card_text h3 {
    margin-bottom: 10px;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }
  
  .card_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card_image {
    width: 100%;
    height: auto;
    max-height: 50%;
    padding: 20px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card_text {
    padding: 20px;
    text-align: center;
  }
  
  .card_text h3 {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .card_container {
      flex-direction: column; 
      height: auto; 
    }
  }
  