.linebr {
  margin: 0;
}
.nav_container {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 153, 255, 0.412);
}
.nav_container {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 153, 255, 1);
}

.linebr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); 
}
/* Example of adjusting padding for smaller screens */
@media (max-width: 870px) {
  .nav_container {
    padding: 8px; 
  }
}

/* Example of adjusting background color for smaller screens */
@media (max-width: 576px) {
  .nav_container {
    background-color: rgba(0, 153, 255, 0.6); 
  }
}

/* Example of adjusting margin for smaller screens */
@media (max-width: 576px) {
  .linebr {
    margin: 5px 0; 
  }
}

