.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar>a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: large;
}


.navbar {
    display: flex;
    gap: 20px;
}