.project_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 8px;
}

/* Large screens */
@media (max-width: 1200px) {
    .project_container {
        flex-wrap: wrap;
        margin: 8px;
    }
}

/* Medium screens */
@media (max-width: 992px) {
    .project_container {
        flex-direction: column;
        justify-content: center;
        margin: 6px;
    }
}

/* Small screens */
@media (max-width: 768px) {
    .project_container {
        flex-direction: column;
        justify-content: center;
        margin: 4px;
    }
}

/* Extra small screens */
@media (max-width: 576px) {
    .project_container {
        flex-direction: column;
        justify-content: center;
        margin: 2px;
    }
}
